In [5]:
import time
import pandas as pd
from youtube_comment_downloader import YoutubeCommentDownloader

#youtube video:I Got Rich When I Understood This" | Jeff Bezos
url = "https://www.youtube.com/watch?v=7TWKKww-F30"
file = "comment.csv"

downloader = YoutubeCommentDownloader()

fullcmt = []
comment_count = 0
max_comments = 100  #max 100 cmts

for comment in downloader.get_comments_from_url(url, language='en', sort_by=0): #sort by=0 for top cmts
    fullcmt.append(comment['text']) 
    comment_count += 1
    if comment_count >= max_comments:
        break  

df = pd.DataFrame(fullcmt, columns=['Comment'])


time.sleep(5)
df.to_csv(file, index=False)

In [6]:
df=pd.read_csv(r"comment.csv")
df.head(5)

                                             Comment
0  I got rich when I realized that no one is comi...
1  I'm favoured, $500K every week! I can now give...
2  I recommend everyone to find the forbidden boo...
3  My wife and I sold our house in Florida to mov...
4  Creating wealth entails establishing positive ...

In [7]:
df.shape

(100, 1)

In [8]:
df.isnull().sum()

Comment    0
dtype: int64

We dont have any null values

In [9]:
import re
import string
import pickle
from sklearn.feature_extraction.text import TfidfVectorizer
from nltk.corpus import stopwords
import nltk

In [10]:
#stopword set
stop_words = set(stopwords.words('english'))

In [13]:
#PREPROCESSING
def pre(text):
    text=text.lower()
    text=re.sub(r'http\S+','',text) #for url remove
    text=text.translate(str.maketrans('','',string.punctuation)) #removing punctuation
    text=re.sub(r'[^a-zA-Z\s]','',text) #non alphabetic
    text=' '.join([word for word in text.split() if word not in stop_words]) #stop word
    return text

In [16]:
df['Preprocessed_Comment']=df['Comment'].apply(pre)

In [17]:
vectorizer = TfidfVectorizer(max_features=1000) 
tfidf_matrix = vectorizer.fit_transform(df['Preprocessed_Comment'])
with open('tfidf_vectors.pkl', 'wb') as file:
    pickle.dump(tfidf_matrix, file)

print("TF-IDF vectorssaved to tfidf_vectors.pkl")

TF-IDF vectors have been saved to tfidf_vectors.pkl

In [19]:
with open('tfidf_vectors.pkl', 'rb') as file:
    tfidf_matrix = pickle.load(file)
print(tfidf_matrix)

  (0, 330)	0.20906411572453568
  (0, 447)	0.18541856878278504
  (0, 435)	0.20906411572453568
  (0, 331)	0.1698436451778028
  (0, 542)	0.20906411572453568
  (0, 223)	0.2278326422059042
  (0, 254)	0.2278326422059042
  (0, 143)	0.2278326422059042
  (0, 567)	0.2278326422059042
  (0, 104)	0.17697910778260736
  (0, 286)	0.20906411572453568
  (0, 492)	0.19574763426397593
  (0, 247)	0.2278326422059042
  (0, 376)	0.2278326422059042
  (0, 458)	0.20906411572453568
  (0, 462)	0.2278326422059042
  (0, 291)	0.16366262632204762
  (0, 516)	0.19574763426397593
  (0, 445)	0.20906411572453568
  (0, 93)	0.20906411572453568
  (0, 357)	0.17697910778260736
  (0, 414)	0.20906411572453568
  (0, 437)	0.1698436451778028
  (0, 214)	0.1698436451778028
  (1, 27)	0.2681529190669959
  :	:
  (96, 273)	0.33516080719050056
  (96, 461)	0.33516080719050056
  (96, 506)	0.33516080719050056
  (96, 249)	0.33516080719050056
  (96, 66)	0.27276616985015645
  (96, 570)	0.3075507403257765
  (96, 395)	0.3075507403257765
  (96, 310)	0.2498541590125761
  (97, 421)	0.29219364869457
  (97, 90)	0.29219364869457
  (97, 323)	0.29219364869457
  (97, 540)	0.29219364869457
  (97, 145)	0.29219364869457
  (97, 535)	0.26812315475606086
  (97, 449)	0.26812315475606086
  (97, 480)	0.26812315475606086
  (97, 553)	0.26812315475606086
  (97, 15)	0.26812315475606086
  (97, 561)	0.26812315475606086
  (97, 334)	0.20290387964126372
  (97, 447)	0.23779791878726256
  (97, 291)	0.20989608634199386
  (98, 167)	1.0
  (99, 476)	0.7417730778583026
  (99, 239)	0.6706509531526967